*{
    text-decoration-line: none;

}
*, *:before, *:after {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    border: 0px;
}
html, body{
    height: 100%;
    background-color: #be856d;
    text-align: center;
}
body {
    background: #efe8ed;
}
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');
.wrapper{
    font-family: 'Ubuntu Condensed', sans-serif condensed;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
    margin: -100px 0;
    text-align: center;
}
.container{
    width: 500px;
}
a{
    font-size: 20px;
    color: #1f2f1f;
    padding: 5px;
}
.form {
    background-color: yellowgreen;
    width: 500px;
    height: 300px;
    border-radius: 10px;
    margin-left: 490px;

}
.form h2 {
    margin: 2px;
}
form{
    padding: 5px;
    font-size: 20px;
    font-size: 20px;

}

.wrap_user{
    width: 1200px;
    margin-left: 150px;
}
.wrap_user h2,.wrap_user button{
    margin: 10px;
}
.contain{
    display: flex;
    justify-content: space-around;
    gap: 5px;
    flex-wrap: wrap;
}
.box{
    border: 4px solid #7091e5;
    padding: 10px;
    border-radius: 8px;
    background: skyblue;
    max-width: 200px;
}
.box span{
    color: #a43c0f;
    font-weight: bold;
}
.form label{
    position: absolute;
    left: 530px;

}
.form input{
    margin: 10px 0px -5px 190px;
    width: 220px;
    height: 30px;
    border: black solid 2px;
    border-radius: 5px;
    background-color: silver;
}
.box form  input{
    margin: 30px;
    width: 120px;
    height: 25px;
    border: black solid 2px;
    border-radius: 5px;
    background-color: silver;
}
.link{
    width: 120px;
    height: 60px;
    background-color: #7fc97f;
    border: black solid 2px;
    text-align: center;
    padding: 5px;
    margin: 10px;
}
button{
    height: 38px;
    background-color: #7fc97f;
    border: black solid 2px;
}
.error{
    color: red;
}
