
* {
    text-decoration-line: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 2px solid red; */

}
html, body{
    height: 100%;
}
body {
    background: #efe8ed;
}
/*body {*/
/*    !* border: 2px solid black; *!*/
/*    font-size: 16px;*/
/*    max-width: 1800px;*/
/*    font-family: 'Poppins', sans-serif;*/
/*    min-height: 1000px;*/
/*    text-align: center;*/
/*}*/

.wrap{
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.wrap img{
    width: 900px;
    height: 700px;

}
.sec-2 div {

    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 10px 3px rgb(0, 0, 0, 0.3);

}

input {
    width: 100%;
    border-radius: 5px;
    border-color: #f1f1f1 ;
    padding: 10px;
    /* padding-left: 10px; */

    margin-bottom: 10px;

}

form span {
    /* display: inline-block; */
    float: left;
    /* border: 1px solid green; */
    font-size: .7em;
    color: red;
    margin-bottom: 5px;
}
form  button, button a {
    padding: 20px;
    background-color: rgb(117, 160, 48);
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 15px;
}
form {

    width: 400px;
    display: flex;
    flex-direction: column;

}
.in{
    height: 30%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}
h1{
    color: #152d15;
    font-size: 30px;
    margin-bottom: 10px;
}
.data{
    line-height: 30px;
    /* display: flex;
  justify-content: end; */
    /* gap: 10px; */
    background-color: rgb(235, 239, 239);
    text-align: center;
}
.data span {
    font-size: 20px;
}
 a{
    color: #333;
    font-size: 20px;
    margin-top: 20px;
}

