
main{
    text-align: center;
    position: relative;
    background-color: #f2eeee;
    height: 420px;
}
.cab{
    position: absolute;
    top: 100px;
    left: 20px;
    background-color: #f2eeee;
    text-align: start;
}
p{
    margin: 20px;
}

